/*
TEAM COLORS

#D9F7E9 #57C278 (Programação)

#E8F8FF #82CFFA (Front End)

#F0F8E2#A6D157(Data Science)

#FDE7E8#E06B69(Devops)

#FAE9F5#DB6EBF(UX e Design)

#FFF5D9#FFBA05(Mobile)

#FFEEDF#FF8A29(Inovação e Gestão)
*/

.team {
  text-align: center;
  padding: 32px;
}

.team h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  padding-bottom: 8px;
  display: inline-block;
}

.team .workers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 32px;
}